body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    padding: 0 100px 100px 100px;
}

.information {
    padding: 0 150px 100px 150px;
}

.footer {
    padding: 20px 10px 20px 10px;
}

.header,
.footer,
.hero {
    background-color: #1F2937;
}

.hero-text,
.logo-link {
    font-size: 18px;
    color: #E5E7Eb;
}

.quotation {
    padding: 100px 150px 100px 150px;
}

button {
    color: #E5E7Eb;
    background-color: #3882F6 ;
    cursor: pointer;
    text-align: center;
}
/* ^^^^ multi selection ^^^^ */
/* \/\/\/ Header class div \/\/\/ */
.header {
    display: flex;
    flex-direction: column;
}

.logo-link {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;

}

.logo-link > p {
    font-size: 24px;
    color: #F9FAF8;
}

.logo-link > ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
}

.hero {
    display: flex;
    gap: 20px
}

.hero-title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0;
}

.hero-signup,
.product-signup {
    border-radius: 8px;
    width: 125px;
    height: 35px;
    font-weight: bold;
    border-style: none;
    
}
.hero-signup:hover,
.product-signup:hover {
    background-color: rgb(100, 100, 200);
}

.hero-link {
    display: flex;
    width: 100%;
    height: 100%;
    min-width: 500px;
    min-height: auto;
} 

.hero-img {
    display: flex;
    min-width: 500px;
    min-height: auto;
}

/* \/\/\/ information class div \/\/\/ */

.information {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
}

.ilustrations {
    display: flex;
    text-align: left;
    justify-content: center;
}

.ilustration {
    min-width: 70px;
    width: 100%;
    height: auto;
    border: 5px solid #3882F6;
    border-radius: 5px;
}

.sub-ilus {
    width: 20%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px 10px 0 10px;
    padding: 10px;
    cursor: pointer;
    min-width: 125px;
    min-height: auto;
}

/* \/\/\/ Quotation class section \/\/\/ */

.quotation {
    background-color: #E5E7Eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.quotation-text {
    font-size: 36px;
    font-family: light italic;
    color: #1F2937;
}

.quotation-sign {
    align-self: flex-end;
}

/* \/\/\/ Sign up class section \/\/\/ */

.sign-up {
    padding: 75px 100px 75px 100px;
    min-width: 500px;
}
.sign-container {
    background-color: #3882F6;
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
}

.sign-text {
    display: flex;
    color: #F9FAF8;
    flex-direction: column;
    padding: 25px;
}

.sign-header {
    margin-bottom: 3px
}

.sign-subtext {
    margin-top: 3px;
}

.product-signup {
    align-self: center;
    border: 2px solid #F9FAF8;
    margin: 25px;
}

/* \/\/\/ Footer section \/\/\/ */

.footer {
    color: #F9FAF8;
    height: 50px;
    text-align: center;
}