body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header,
.sign-up, 
.footer {
    padding: 0 100px 100px 100px;
}

.information,
.quotation {
    padding: 0 150px 100px 150px;
}

.header,
.hero {
    background-color: #1F2937;
}

.hero-text,
.logo-link {
    font-size: 18px;
    color: #E5E7Eb;
}

button {
    color: #E5E7Eb;
    background-color: #3882F6 ;
}
/* ^^^^ multi selection ^^^^ */

.header {
    display: flex;
    flex-direction: column;
}

.logo-link {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;

}

.logo-link > p {
    font-size: 24px;
    color: #F9FAF8;
}

.logo-link > ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
}

.hero {
    display: flex;
    gap: 20px
}

.hero-title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0;
}

.hero-signup {
    border-radius: 8px;
    color: #F9FAF8;
    width: 125px;
    height: 35px;
}

img {
    width: 50%;
    height: 50%;
    min-width: 500px;
    min-height: auto;
}